* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --spanVerde:#94C536;
  --spanAzul: #016AAE;
  --azulEscuro: #015994;
  --cinza: rgb(225, 225, 225);
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

body, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
}

/* ------------------------------------------------------ */
  /* ESTILO DO CABEÇALHO */
  header {
    padding: 10px 0 ;
    background: rgb(255, 255, 255);
    z-index: 2;
  
    /* border-bottom: 2px solid var(--spanAzul); */
  }
  
  /* -------------------------------------------------------- */
  /*  estilização do container  */
  header .container i {font-size: 12px;}
  header .container a{color: white;}
  header .container a span{font-size: 12px;}
  header .container a:hover{
    text-shadow: none;
    transform: scale(1.06);
  }
  header .container > .row div:hover {background-color: var(--spanAzul); cursor: pointer; transition: .2s ease;}
  /*  /. Estilização do container  */


  /* ---------------------------------- */
  header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .container a {
    font-size: 16px;
  }
  
  header div.logo > a {
    font-family: 'Licorice', cursive;
    color: var(--spanVerde);
  }
  header div.logo a:hover {
    opacity: 0.7;
    transition: .2s ease;
    transform: scale(1.01);
  }
  
  header a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
  }
  header nav ul li:hover a{
    color: #ffffff;
    transform: scale(1.10);
    text-shadow: 0 0 10px rgb(118, 118, 118);
  }
  
  header nav ul {
    list-style-type: none;
  }
  
  header nav ul li{
    display: inline-block;
    cursor: pointer;
  }
  
  header nav ul li {   /* Estilização do botão */
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: var(--spanAzul);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.454);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  header nav ul li:hover {
    background-color: var(--spanVerde);
    box-shadow: 0px 15px 20px rgba(151, 183, 34, 0.329);
    color: #fff;
    transform: translateY(-4px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  div.row-fitaflex {
    display: flex;
    width: 100%;
  }
  div.row-fitaflex .fita{
    width: 100%;
  }
  
  /* /. ESTILIZAÇÃO DO CABEÇALHO  */

#page {
  margin: auto;
  margin-top: 30px;
}
 
.titles{
  padding: 10px;
  background-color: var(--cinza);
  border-radius: 10px 10px 0 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background: var(--azulEscuro);
  min-height: 300px;
  padding: 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;

  padding-bottom: 1rem;
  border-bottom: 1px solid #ffffff;
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 24px;
}

.input-wrapper label,
.checkbox-wrapper {
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  background: #ffffff;

  border: 1px solid #d2d2d2;
  border-radius: 8px;

  height: 56px;

  padding: 0 24px;

  line-height: 26px;

  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0;

  height: 168px;
}

.input-wrapper select {
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 > div:first-child {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}

.checkbox-wrapper label::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  opacity: 0;
}

.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  display: flex;
  flex-direction: column;

  background: rgb(225, 225, 225);

  height: 136px;

  padding: 40px 64px;
  margin-bottom: 100px;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 10px 10px;
}

footer .button {
  background: var(--spanVerde);

  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  line-height: 26px;
  font-size: 18px;
  color: #fff;

  height: 56px;

  border: none;
  border-radius: 8px;
  transition: .2s ease;
  cursor: pointer;
}

footer .button:hover {
  background: var(--spanVerde);
  transform: scale(1.02);
  transition: transform .2s ease-in-out;
}

input:invalid {
  border: 1px solid #ff1010;
}
